/* Twitter navigation bar css */
.navigation-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: white;
  width: 18%; 
  height: 40%; 
}

/* Centered the avatar logo of twitter */
.logo-avatar-img {
  object-fit: contain;
  height: 70%;
  width: 70%;
}

.logo-avatar {
  background-color: white;
  transition: background-color 0.2s ease;
}

.logo-avatar:hover {
  background-color: rgba(240, 240, 240);
}

.nav-button:hover {
  background-color: rgba(240, 240, 240);
}

.searchIcon {
  stroke: black;
  stroke-width: 2;
}