/* Twitter navigation bar css */
.navigation-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px;
}

/* Centered the avatar logo of twitter */
.logo-avatar-img {
  object-fit: contain;
  height: 70%;
  width: 70%;
}

.logo-avatar {
  background-color: white;
  transition: background-color 0.2s ease;
}

.logo-avatar:hover {
  background-color: rgba(240, 240, 240);
}